<ngx-ui-loader [loaderId]="'loader-02'"></ngx-ui-loader>

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <h2 class="breadcrumb-title">Change Password</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
            
               <!-- PROFILE SIDEBAR -->
               <app-doctor-sidebar></app-doctor-sidebar>
               <!-- PROFILE SIDEBAR -->
            </div>
            
            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-6">
                            
                                <!-- Change Password Form -->
                                <form [formGroup]="setPassForm">
                                    <div class="form-group">
                                        <label>Old Password <span class="text-danger">*</span></label>
                                        <input type="password" class="form-control" formControlName="oldPassword">
                                        <div *ngIf="submitted && validation.oldPassword.errors" class="invalid-feedback">
                                            <div *ngIf="validation.oldPassword.errors.required">Old Password is Mandatory
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>New Password <span class="text-danger">*</span></label>
                                        <input type="password" class="form-control" formControlName="password">
                                        <div *ngIf="submitted && validation.password.errors" class="invalid-feedback">
                                            <div *ngIf="validation.password.errors.required">New Password is Mandatory
                                            </div>
                                        <div *ngIf="validation.password.errors.pattern">Password Must Contain atleast One Alphabet, One Special Character and number. Atleast Password Length is 8</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Confirm Password <span class="text-danger">*</span></label>
                                        <input type="password" class="form-control" formControlName="passwordConfirmation">
                                        <div *ngIf="submitted && validation.passwordConfirmation.errors" class="invalid-feedback">
                                            <div *ngIf="validation.passwordConfirmation.errors.required">Password Confirmation is Mandatory
                                            </div>
                                            <div *ngIf="validation.passwordConfirmation.errors.mustMatch">Password Mismatch</div>
                                        </div>
                                    </div>
                                    <div class="submit-section">
                                        <button type="submit" class="btn btn-primary submit-btn" (click)="submitForm()">Save Changes</button>
                                    </div>
                                </form>
                                <!-- /Change Password Form -->
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>		
<!-- /Page Content -->