
      <!-- Page Content -->
        <div class="content">
  
            <div class="container-fluit">
                
                <section class="section section-lg section-xl-custom bgimg">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-12 col-xl-12  text-sm-left pt">
                                <h1 class="fw">Dentistry Anytime , Anywhere</h1>
                                <p>Providing the highest standard in dental care</p>

                                <div class="icontext">
                                    <p><img src="../../../assets/img/home/undraw_devices_re_dxae.png"><span class="tt">Complete Virtual Oral Care</span></p>
                                    <p><img src="../../../assets/img/home/group_23.png"><span class="tt">&nbsp;&nbsp;    Access to Specialised Dentists</span></p>
                                    <p><img src="../../../assets/img/home/safe.png"><span class="tt">&nbsp;&nbsp;    Highest Safety measures</span></p>

                                    <a  routerLink="/book-an-appointment" class="nav-link btn-grad kk">BOOK AN APPOINTMENT </a>
                                </div>
  
                            </div>
                        </div>
                    </div>
                </section>

                <section class="bb">
                    <div class="container oo">
                        <div class="row bx">
                            
                                <div class="col-sm-8 p11">
                                    <p class="mt">COIVD-19 guidelines and updates</p>
                                    <p class="st">We are committed to supporting Indian government and stand together to fight against COVID-19</p>
                                </div>
                                <div class="col-sm-4 bgimg2 p17">
                                    <a  href="javascript:void(0);" class="nav-link btn-grad b1">Know More </a>
                                </div>
                            </div>
                       
                    </div>

                </section>


                <section class="bb">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="stb">Skip the travel! Take Online Consultation</p>
                                <p class="stbs">Our online dental consultation lets you get the answers you need from a professional<br>and experienced dentist, without having to attend a physical appointment.</p>
                            </div>
                        </div>
                        <div class="row text-center nn pd5">
                            <div class="col-sm-4 sd">
                                <img  src="../../../assets/img/home/group_988.png">
                                <p>Get access to the platform by creating an account or login</p>
                            </div>

                            <div class="col-sm-4 sd">
                                <img  src="../../../assets/img/home/group_1038.png">
                                <p>Choose highly skilled & certified doctors and book an appointment</p>
                            </div>

                            <div class="col-sm-4 sd">
                                <img  src="../../../assets/img/home/group_626.png">
                                <p>Get tele consultation right in your devices with recommendations</p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="bb lpl">
                    <div class="container bgimg3">
                        <div class="row">
                            <div class="col-sm-4">
                                <img class="wwd" src="../../../assets/img/home/group_1147.png">
                            </div>
                            <div class="col-sm-8">
                                <p class="stb">Oral Self Assessment</p>
                                <p class="stbs">Assess your oral health from the comfort of home by taking a brief online oral assessment test. See the impact of your lifestyle, medical conditions, and your past dental history on the overall health of our mouth.</p>
                                <a  routerLink="/oral-self-assessment" class="nav-link btn-grad kk2">Take Oral health test now </a>
                            </div>
                        </div>
                    </div>

                </section>
  
               
  
  
            
  
                <section class="section section-lg section-xl-custom">
                    <div class="container vertical-tabs">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="grad-text text-center">About Family Oral Health</h2>
                                <p class="wow  big  text-center">Have you heard that you should only take care of the teeth you want to keep?
                                It stands true.</p>
                            </div>
  
                        </div>
                        <div class="row">
  
                            <div class="col-md-3">
                                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    <a class="nav-link active" id="v-pills-one-tab" data-toggle="pill" href="#v-pills-one" role="tab" aria-controls="v-pills-one" aria-selected="true">Child </a>
                                    <a class="nav-link" id="v-pills-two-tab" data-toggle="pill" href="#v-pills-two" role="tab" aria-controls="v-pills-two" aria-selected="false">Men</a>
                                    <a class="nav-link" id="v-pills-three-tab" data-toggle="pill" href="#v-pills-three" role="tab" aria-controls="v-pills-three" aria-selected="false">Women</a>
                                    <a class="nav-link" id="v-pills-four-tab" data-toggle="pill" href="#v-pills-four" role="tab" aria-controls="v-pills-four" aria-selected="false">Senior Citizen</a>
                                </div>
                            </div>
                            <div class="col-md-9 shadow">
                                <div class="tab-content " id="v-pills-tabContent">
                                    <div class="tab-pane fade show active" id="v-pills-one" role="tabpanel" aria-labelledby="v-pills-one-tab">
                                        <div class="row">
                                            <div class="col-sm-4 col-xs-12">
  
                                                <img class="img-fluid" src="assets/img/blog/blog-06.jpg" />
  
                                            </div>
  
  
                                            <div class="col-sm-8 col-xs-12">
  
                                                <h3 class="grad-text">Child / Kids </h3>
                                                <p>Good oral practices start with birth of the child. Pediatric dentist is especially trained to
                                                    handle dental problems of a kid.</p>
                                                <p>Did you know your child’s first dental visit should be at the age
                                                    of 6 months? Need not worry, its never too late. Book your child first dental online consultation
                                                    now!</p>
                                                <!-- <a href="#" class="btn btn-info">View More</a> -->
                                            </div>
  
                                        </div>
  
  
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-two" role="tabpanel" aria-labelledby="v-pills-two-tab">
                                        <div class="row">
                                            <div class="col-sm-4 col-xs-12">
  
                                                <img class="img-fluid" src="assets/img/blog/blog-04.jpg" />
  
                                            </div>
  
  
                                            <div class="col-sm-8 col-xs-12">
  
                                                <h3 class="grad-text">Men </h3>
                                                <p>Good oral health has been linked with longevity studies and surveys have shown that men
                                                    are less likely than women to seek preventive dental care and often neglect their oral health for
                                                    years, visiting dentist only when problem arises.</p>
                                                <p>When it comes to your oral health, the earlier the better.</p>
                                                <!-- <a href="#" class="btn btn-info">View More</a> -->
                                            </div>
  
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-three" role="tabpanel" aria-labelledby="v-pills-three-tab">
                                        <div class="row">
                                            <div class="col-sm-4 col-xs-12">
  
                                                <img class="img-fluid" src="assets/img/blog/blog-09.jpg" />
  
                                            </div>
  
  
                                            <div class="col-sm-8 col-xs-12">
  
                                                <h3 class="grad-text">Women </h3>
                                                <p>Women have special oral health requirements during the unique phases in their lives.</p>
                                                <p>Due to the hormonal changes occurring throughout a women’s life, females are more prone to gum diseases and eating disorders.</p>
                                                <p>Know more about the change to oral health and importance of professional and home care.</p>
                                                <!-- <a href="#" class="btn btn-info">View More</a> -->
                                            </div>
  
                                        </div>
                                    </div>
  
  
                                    <div class="tab-pane fade" id="v-pills-four" role="tabpanel" aria-labelledby="v-pills-four-tab">
                                        <div class="row">
                                            <div class="col-sm-4 col-xs-12">
  
                                                <img class="img-fluid" src="assets/img/blog/blog-02.jpg" />
  
                                            </div>
  
  
                                            <div class="col-sm-8 col-xs-12">
  
                                                <h3 class="grad-text">Senior Citizen </h3>
                                                <p>Chronic illness in older adults such as diabetes, or heart diseases put seniors at
                                                    high risk for dental problems, like toothache, gum diseases and tooth loss.</p>
                                                <p>Book a consult and
                                                    understand why it’s important to make dental health for seniors a priority and how to help your
                                                    elderly loved ones improve their well-being.</p>
                                                <!-- <a href="#" class="btn btn-info">View More</a> -->
                                            </div>
  
                                        </div>
                                    </div>
  
  
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                <section class="bb lpl2">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="stb">Our Services</p>
                                <p class="stbs w75">Have a dental emergency while you travelling to another city, state, or country? Not satisfied or sure about the treatment advised by your dentist? Worry not! Teladent is available anytime anywhere to help dental care seekers have access to highly qualified board-certified independent dental care professionals.</p>
                            </div>
                        </div>
                        <div class="row text-center nn pd5">
                            <div class="col-sm-2 sd2">
                                <div class="bxb">
                                <img  src="../../../assets/img/home/appointment.png">
                                <p>Tele<br>consultation</p>
                            </div>
                            </div>

                            <div class="col-sm-2 sd2">
                                <div class="bxb">
                                <img  src="../../../assets/img/home/group_1160.png">
                                <p>Nearby<br>Certified clinics</p>
                                </div>
                            </div>

                            <div class="col-sm-2 sd2">
                                <div class="bxb">
                                <img  src="../../../assets/img/home/gradient.png">
                                <p>Post<br>follow up care</p>
                                </div>
                            </div>

                            <div class="col-sm-2 sd2">
                                <div class="bxb">
                                <img  src="../../../assets/img/home/group_1161.png">
                                <p>Home<br>dental care</p>
                                </div>
                            </div>

                            <div class="col-sm-2 sd2">
                                <div class="bxb">
                                <img  src="../../../assets/img/home/dental_1.png">
                                <p>Dental<br>Insurances</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
  
                
  
  
  
               
  
                <section class="section section-blogs section-lg section-xl-custom">
                    <div class="container-fluid">
  
                        <!-- Section Header -->
                        <div class="section-header text-center">
                            <h2 class="grad-text t">Blogs and Articles</h2>
                            <div class="row text-sm-left">
                                <div class="col-sm-3">
                                    <div class="card blog">
                                        <a href=""><img class="card-img-top" src="assets/img/blog/blog-02.jpg" alt="Card image cap"></a>
                                        <div class="card-body">
                                           
                                            <p><img class="du" src="assets/img/blog/blog-02.jpg"><span class="ltl">DR. Ruby Perrrin</span></p>
                                            <p class="ttt"><img src="../../../assets/img/home/clock.svg"><span class="timet">12 Mar 2021</span></p>
                                          <h5 class="card-title"><a class="bt" href="">Blogs and Articles title</a></h5>
                                          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                          
                                        </div>
                                      </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="card blog">
                                        <a href=""><img class="card-img-top" src="assets/img/blog/blog-02.jpg" alt="Card image cap"></a>
                                        <div class="card-body">
                                           
                                            <p><img class="du" src="assets/img/blog/blog-02.jpg"><span class="ltl">DR. Ruby Perrrin</span></p>
                                            <p class="ttt"><img src="../../../assets/img/home/clock.svg"><span class="timet">12 Mar 2021</span></p>
                                          <h5 class="card-title"><a class="bt" href="">Blogs and Articles title</a></h5>
                                          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                          
                                        </div>
                                      </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="card blog">
                                        <a href=""><img class="card-img-top" src="assets/img/blog/blog-02.jpg" alt="Card image cap"></a>
                                        <div class="card-body">
                                           
                                            <p><img class="du" src="assets/img/blog/blog-02.jpg"><span class="ltl">DR. Ruby Perrrin</span></p>
                                            <p class="ttt"><img src="../../../assets/img/home/clock.svg"><span class="timet">12 Mar 2021</span></p>
                                          <h5 class="card-title"><a class="bt" href="">Blogs and Articles title</a></h5>
                                          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                          
                                        </div>
                                      </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="card blog">
                                        <a href=""><img class="card-img-top" src="assets/img/blog/blog-02.jpg" alt="Card image cap"></a>
                                        <div class="card-body">
                                           
                                            <p><img class="du" src="assets/img/blog/blog-02.jpg"><span class="ltl">DR. Ruby Perrrin</span></p>
                                            <p class="ttt"><img src="../../../assets/img/home/clock.svg"><span class="timet">12 Mar 2021</span></p>
                                          <h5 class="card-title"><a class="bt" href="">Blogs and Articles title</a></h5>
                                          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                          
                                        </div>
                                      </div>
                                </div>

                                
                            </div>
                        </div>
                        <!-- /Section Header -->
  
                        <div class="row blog-grid-row">
                            <div class="col-md-6 col-lg-3 col-sm-12" *ngFor="let blog of webBlogDetails">
  
                                <!-- Blog Post -->
                                <div class="blog grid-blog">
                                    <div class="blog-image">
                                        <a href="javascript:void(0);" (click)="blogRouting(blog?._id)"><img class="img-fluid" src="{{ blog?.blogImage }}" alt="Post Image"></a>
                                    </div>
                                    <div class="blog-content">
                                        <ul class="entry-meta meta-item">
                                            <li>
                                                <div class="post-author">
                                                    <a href="#"><img src="assets/img/doctors/doctor-thumb-01.jpg" alt="Post Author"> <span>Dr. Ruby Perrin</span></a>
                                                </div>
                                            </li>
                                            <li><i class="far fa-clock"></i> {{ blog?.createdAt | date: 'dd MMM yyyy' }}</li>
                                        </ul>
                                        <h3 class="blog-title"><a href="javascript:void(0);" (click)="blogRouting(blog?._id)">{{blog?.blogTitle}}</a></h3>
                                        <p class="mb-0">{{ blog?.shortDesc }}</p>
                                    </div>
                                </div>
                                <!-- /Blog Post -->
  
                            </div>
                        </div>
                        <div class="view-all text-center">
                            <a href="javsacript:void(0);" (click)="viewBlogRoute()" class="btn btn-info">View All</a>
                        </div>
                    </div>
                </section>
  
                <section class="news-letter section section-blogs section-lg section-xl-custom">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="news-letter-col">
                                    <div class="section-title pb-2">
                                        <h2 class="grad-text">Grab Our Newsletter</h2>
                                        <p>To receive latest News and Info</p>
                                    </div>
                                    <form>
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <input type="email" name="email" placeholder="Enter Your Email Address">
                                            </div>
                                            <div>
                                                <input class="btn btn-grad kk2 w100" type="button" value="subscribe">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
  
  
                        </div>
                    </div>
                </section>
  
            </div>
  
        </div>
        <!-- /Page Content -->
  

