<!-- Profile Sidebar -->
    <div class="profile-sidebar">
        <div class="widget-profile pro-widget-content">
            <div class="profile-info-widget">
                <a href="javascript:void(0);" class="booking-doc-img">
                    <img src="{{userDetails?.imageUrl}}" alt="User Image">
                </a>
                <div class="profile-det-info">
                    <h3>{{userDetails?.firstName}} {{userDetails?.lastName}}</h3>
                    <div class="patient-details">
                        <h5 *ngIf="age !== undefined"><i class="fas fa-birthday-cake"></i> {{userDetails?.dob | date: 'dd MMM yyyy'}}, {{age}} years</h5>
                        <h5 *ngIf="city !==undefined && state !== undefined" class="mb-0"><i class="fas fa-map-marker-alt"></i> {{city}}, {{state}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-widget">
            <nav class="dashboard-menu">
                <ul>
                    <li routerLinkActive="active">
                        <a routerLink="/patient-panel/patient-dashboard">
                            <i class="fas fa-columns"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <!-- <li routerLinkActive="active">
                        <a routerLink="/patient-panel/favourites">
                            <i class="fas fa-bookmark"></i>
                            <span>Favourites</span>
                        </a>
                    </li> -->
                    <li routerLinkActive="active">
                        <a routerLink="/patient-panel/patient-profile-setting">
                            <i class="fas fa-user-cog"></i>
                            <span>Profile Settings</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/patient-panel/patient-change-password">
                            <i class="fas fa-lock"></i>
                            <span>Change Password</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
<!-- / Profile Sidebar -->