.disabled {
    background-color: #80edfd;
    cursor: none;
    pointer-events: none;
}

.disabled-slot {
    background-color: #c34f4f !important;
    cursor: none;
    pointer-events: none;
    color: white !important;
}