<ngx-ui-loader [loaderId]="'loader-02'"></ngx-ui-loader>
<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <h2 class="breadcrumb-title">Reschedule Appointment</h2>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-body">
                        <div class="booking-doc-info">
                            <a href="doctor-profile.html" class="booking-doc-img">
                                <img src="{{doctorDetail?.imageUrl}}" alt="User Image">
                            </a>
                            <div class="booking-info">
                                <h4><a href="doctor-profile.html">{{doctorDetail?.name}}</a></h4>
                                <div class="rating">
                                    <i *ngIf="doctorDetail?.rating === 1 || doctorDetail?.rating > 1" class="fas fa-star filled"></i>
                                    <i *ngIf="doctorDetail?.rating < 1" class="fas fa-star"></i>

                                    <i *ngIf="doctorDetail?.rating === 2 || doctorDetail?.rating > 2" class="fas fa-star filled"></i>
                                    <i *ngIf="doctorDetail?.rating < 2" class="fas fa-star"></i>

                                    <i *ngIf="doctorDetail?.rating === 3 || doctorDetail?.rating > 3" class="fas fa-star filled"></i>
                                    <i *ngIf="doctorDetail?.rating < 3" class="fas fa-star"></i>

                                    <i *ngIf="doctorDetail?.rating === 4 || doctorDetail?.rating > 4" class="fas fa-star filled"></i>
                                    <i *ngIf="doctorDetail?.rating < 4" class="fas fa-star"></i>

                                    <i *ngIf="doctorDetail?.rating === 5" class="fas fa-star filled"></i>
                                    <i *ngIf="doctorDetail?.rating < 5" class="fas fa-star"></i>
                                    <span class="d-inline-block average-rating">({{doctorDetail?.totalReview}})</span>
                                </div>
                                <p class="text-muted mb-0"><i class="fas fa-map-marker-alt"></i> {{doctorDetail?.city}}, {{doctorDetail?.state}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Schedule Widget -->
                <div class="card booking-schedule schedule-widget">

                    <!-- Schedule Header -->
                    <div class="schedule-header">
                        <div class="row">
                            <div class="col-md-12">

                                <!-- Day Slot -->
                                <div class="day-slot">
                                    <ul>
                                        <li *ngFor="let dateStr of availableSlot?.weekDays">
                                            <span>{{dateStr | date: 'E'}}</span>
                                            <span class="slot-date">{{ dateStr | date: 'dd' }} {{ dateStr | date: 'MMM' }} <small class="slot-year">{{ dateStr | date: 'YYYY' }}</small></span>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /Day Slot -->

                            </div>
                        </div>
                    </div>
                    <!-- /Schedule Header -->

                    <!-- Schedule Content -->
                    <div class="schedule-cont">
                        <div class="row">
                            <div class="col-md-12">

                                <!-- Time Slot -->
                                <div class="time-slot">
                                    <ul class="clearfix">
                                        <li *ngFor="let timeSlot of availableSlot?.availableSlot">
                                            <a class="timing" href="javascript:void(0)" *ngFor="let times of timeSlot?.slot" id="{{timeSlot?.date}}_{{times?.value}}" [ngClass]="times?.baseValue === 'N/A' ? 'disabled-slot' : '' " (click)="selectedSlot(times?.value, timeSlot?.date + '_' + times?.value, timeSlot?.date)">
                                                <span>{{ times?.value }}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /Time Slot -->

                            </div>
                        </div>
                    </div>
                    <!-- /Schedule Content -->

                </div>
                <!-- /Schedule Widget -->

                <!-- Submit Section -->
                <div class="submit-section proceed-btn text-right">
                    <button [ngClass]="selectedSlotValues === undefined ? 'disabled' : '' " class="btn btn-primary submit-btn" (click)="bookingConfirm()">Confirm</button>
                </div>
                <!-- /Submit Section -->

            </div>
        </div>
    </div>

</div>
<!-- /Page Content -->