<!-- Page Content -->
<div class="content">



        <section class="section  bg-default bgw p40 bgback">
            <div class="container bookrow">
                <h4 class="headbook">Boook an Appointment</h4>
                <div class="row colrev">

                    <div class="col-lg-8 col-md-8">
                        <div class="leftdiv">
                            <div class="firstdiv">
                             <div class="topdiv">
                                 <span> <img src="assets/img/bookanappointment/oneimg.png"> </span>
                                 <span class="headspn">Choose service(s)</span>
                             </div>

                            <form class="formcheck">
                                <div class="form-check form-check-inline boxchek">
                                    <span> <img src="assets/img/bookanappointment/teeth1.svg" class="chekimg"> </span>
                                    <label class="form-check-label lebalc" for="chk_red">Pain or tooth decay</label>
                                    <input class="form-check-input" type="checkbox" id="chk_red">
                                    
                                </div>
                                <div class="form-check form-check-inline boxchek">
                                    <span> <img src="assets/img/bookanappointment/teeth2.svg" class="chekimg"> </span>
                                    <label class="form-check-label lebalc" for="chk_green">Sensitivity</label>
                                    <input class="form-check-input" type="checkbox" id="chk_green">
                                    
                                </div>
                                <div class="form-check form-check-inline boxchek">
                                    <span> <img src="assets/img/bookanappointment/teeth3.svg" class="chekimg"> </span>
                                    <label class="form-check-label lebalc" for="chk_blue">Bleeding
                                        gums</label>
                                    <input class="form-check-input" type="checkbox" id="chk_blue">
                                    
                                </div>
                            </form>

                            <form class="formcheck">
                                <div class="form-check form-check-inline boxchek">
                                    <span> <img src="assets/img/bookanappointment/child.svg" class="chekimg"> </span>
                                    <label class="form-check-label lebalc" for="chk_red">Child care</label>
                                    <input class="form-check-input" type="checkbox" id="chk_red">
                            
                                </div>
                                <div class="form-check form-check-inline boxchek">
                                    <span> <img src="assets/img/bookanappointment/openion.svg" class="chekimg"> </span>
                                    <label class="form-check-label lebalc" for="chk_green">Second
                                    opinion</label>
                                    <input class="form-check-input" type="checkbox" id="chk_green">
                            
                                </div>
                                <div class="form-check form-check-inline boxchek">
                                    <span> <img src="assets/img/bookanappointment/other.svg" class="chekimg"> </span>
                                    <label class="form-check-label lebalc" for="chk_blue">Other</label>
                                    <input class="form-check-input" type="checkbox" id="chk_blue">
                            
                                </div>
                            </form>

                            <form class="secondform">
                                <div class="form-group">
                                    
                                    <input type="email" class="form-control" 
                                        placeholder="Please specify here">
                                    
                                </div>
                                
                            </form>

                            
                            </div>
                            <div class="borderdiv"></div>
                            <div class="seconddiv">
                            
                            <div class="topdiv">
                                <span> <img src="assets/img/bookanappointment/twoimg.png"> </span>
                                <span class="headspn">Choose date and time</span>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <form>
                                        <div class="row daterow">
                                            <div class="form-group col-lg-6 col-12">
                                                <label for="newdate">Choose date</label> 
                                                <input type="date" class="form-control" id="newdate" placeholder="Name">
                                            </div>
                                            <div class="form-group col-lg-6 col-12">
                                                <label for="newdate">Available time slots on selected date</label> 
                                                <select class="form-select form-control" aria-label="Default select example">
                                                    <option selected>Choose time slot</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                            
                                        </div>
                            
                            
                                    </form>
                                </div>
                            </div>

                            </div>

                            <div class="borderdiv"></div>
                            <div class="seconddiv">
                            
                                <div class="topdiv">
                                    <span> <img src="assets/img/bookanappointment/threeimg.png"> </span>
                                    <span class="headspn">Payment</span>
                                </div>
                            
                                <div class="row daterow">
                                    <div class="col-sm-12">
                                        <p class="slots">Available time slots on selected date</p>
                                        <div class="form-check form-check-inline slotsbox">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="a" checked>
                                            <label class="form-check-label" for="exampleRadios1">
                                                Debit card
                                            </label>
                                        </div>
                                        
                                        <div class="form-check form-check-inline slotsbox">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="b">
                                            <label class="form-check-label" for="exampleRadios2">
                                                Credit Card
                                            </label>
                                        </div>
                                        
                                        <div class="form-check form-check-inline slotsbox">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="c">
                                            <label class="form-check-label" for="exampleRadios3">
                                                UPI
                                            </label>
                                        </div>
                                       <div>
                                        <a class="makebtn">MAKE PAYMENT</a>
                                       </div>
                                    </div>
                                </div>
                            
                            </div>


                        </div>
                        

                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="bookingcard">
                            <div class="smhead">Booking Summary</div>
                            <div class="borderdiv"></div>
                            <div class="booking_desc">
                               <div class="imgsec">
                                    <div class="doctimg">
                                     <img src="assets/img/bookanappointment/doctors.jpg">
                                    </div>
                                    <div class="namedetails">
                                       <h6>Dr. Pearl Jaggi</h6>
                                       <div class="star-rating">
                                        <input type="radio" id="5-stars" name="rating" value="5" />
                                        <label for="5-stars" class="star">&#9733;</label>
                                        <input type="radio" id="4-stars" name="rating" value="4" />
                                        <label for="4-stars" class="star">&#9733;</label>
                                        <input type="radio" id="3-stars" name="rating" value="3" />
                                        <label for="3-stars" class="star">&#9733;</label>
                                        <input type="radio" id="2-stars" name="rating" value="2" />
                                        <label for="2-stars" class="star">&#9733;</label>
                                        <input type="radio" id="1-star" name="rating" value="1" />
                                        <label for="1-star" class="star">&#9733;</label>
                                        <span class="ratnum">(0)</span>
                                       </div>
                                       
                                       <div class="loctn">
                                          <span>
                                              <img src="assets/img/bookanappointment/location.png" class="locimg">
                                          </span>
                                          <span class="locatext">Delhi, Delhi</span>
                                       </div>

                                    </div>
                               </div>
                               <div class="date_time_cons">
                                   <div class="commondiv">
                                       <div class="lefhead">Date</div>
                                       <div class="righthead">15 Apr 2021</div>
                                   </div>
                                <div class="commondiv">
                                    <div class="lefhead">Time</div>
                                    <div class="righthead">12:00 AM - 1:00 AM</div>
                                </div>
                                <div class="commondiv">
                                    <div class="lefhead">Consulting Fee</div>
                                    <div class="righthead">&#8377; 400</div>
                                </div>
                               </div>

                                <div class="totaldiv">
                                    <div class="totalhead">Total</div>
                                    <div class="totalrupee">&#8377; 400</div>
                                </div>
                            </div>

                        </div>

                        <div class="codesec">
                           <h6>Apply promo code</h6>
                            <div class="buttonInside">
                                <input placeholder="Enter promo code">
                                <button id="erase">APPLY</button>
                            </div>

                        </div>
                    
                    </div>

                    

                </div>

               
            </div>
        </section>



        <section class="section section-lg bg-image-21">
            <div class="container text-center">
                <div class="row justify-content-center">
                    <div class="col-xl-10 d-flex flex-column align-items-center">
                        <h2>Get a Free Consultation</h2>
                        <p class="gc">Let our team handle all your dental healthcare issues.
                            Call now to get a free consultation from our expert advisors on below numbers.</p>

                        <a class="wow  text-xxl font-weight-bold" href="tel:#">
                            <h4> +91 9899799981 <span class="dd">|</span> +91 9899799982</h4>

                        </a>
                        <div class="row">
                            <a class="button button-primary button-shadow button-md button-xxl btn-grad  animate__delay-5s 5s"
                                href="javascript:void(0);">Request a Callback</a>
                            <a class="button button-primary button-shadow button-md button-xxl btn-grad kkall animate__delay-5s 5s"
                               >Book An
                                Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>




</div>
<!-- /Page Content -->