<!-- Page Content -->
<div class="content">





    <div class="container-fluid bgback">


        <section class="section  bg-default bgw p40">
            <div class="container ">
                <div class="row align-items-center padgap">

                    <div class="col-lg-10 col-md-10 m-auto text-center">
                        <h2>Oral Self Assessment</h2>

                        <p class="fcs lio">Assess your oral health from the comfort of home by taking a brief online oral assessment test. See the impact of your
                        lifestyle, medical conditions, and your past dental history on the overall health of our mouth.</p>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-11 col-md-11 m-auto colstep">
                       <div class="stepsdiv">
                        <div>
                        <img src="assets/img/oralself/img1.svg" class="oralimg" alt="Oralimg">
                       </div>
                         <ul class="progressbar">
                            <li class="active">Oral Hygiene</li>
                            <li>Dental Condition</li>
                            <li>Habit History</li>
                            
                         </ul>
                         <div class="questiondiv">

                            <form>
                           <div>
                            <h5 class="q1">Q1. When do you normally brush your teeth?</h5>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion1" id="radio1" value="a">
                                <label class="form-check-label" for="radio1">
                                    Once a day
                                </label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion1" id="radio2" value="b">
                                <label class="form-check-label" for="radio2">
                                    Twice a day
                                </label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion1" id="radio3" value="c">
                                <label class="form-check-label" for="radio3">
                                    More than 2 times a day
                                </label>
                            </div>
                            
                            <div class="form-check form-check-inline activeborder">
                                <input class="form-check-input" type="radio" name="queastion1"  id="radio4" value="d" checked>
                                <label class="form-check-label" for="radio4">
                                    Occasionally
                                </label>
                            </div>
                       
                            <!-- q1 end -->
                           
                           
                            <h5 class="q2">Q.2 How long do you normally take to brush your teeth?</h5>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion2" id="donot" value="a">
                                <label class="form-check-label" for="donot">
                                    Don’t know
                                </label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion2" id="about30" value="b">
                                <label class="form-check-label" for="about30">
                                    About 30 seconds
                                </label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion3"  id="about1" value="c">
                                <label class="form-check-label" for="about1">
                                    About 1 minute
                                </label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion4"  id="about2" value="">
                                <label class="form-check-label" for="about2">
                                    About 2 mins
                                </label>
                            </div>
                           
                            <!-- q2 end -->


                            <h5 class="q2">Q.3 How often do you floss your teeth?</h5>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion3" id="Never" value="a">
                                <label class="form-check-label" for="Never">
                                    Never
                                </label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion3" id="Often" value="b">
                                <label class="form-check-label" for="Often">
                                    Often -
                                    not regularly
                                </label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion3" id="Regularly1" value="c">
                                <label class="form-check-label" for="Regularly1">
                                    Once a day - Regularly
                                </label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion3" id="Regularly2" value="">
                                <label class="form-check-label" for="Regularly2">
                                    Twice a day - regularly
                                </label>
                            </div>
                            
                            <!-- q3 end -->

                            <h5 class="q2">Q.4 When was the last time you visited a dentist?</h5>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion4" id="Within" value="a">
                                <label class="form-check-label" for="Within">
                                    Within Last Year
                                </label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion4" id="Last" value="b">
                                <label class="form-check-label" for="Last">
                                    Last 1-3 years
                                </label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion4" id="years3" value="c">
                                <label class="form-check-label" for="years3">
                                    3+ years
                                </label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion4" id="dentist" value="">
                                <label class="form-check-label" for="dentist">
                                    Never I don’t visit the dentist
                                </label>
                            </div>
                            
                            <!-- q4 end -->

                        </div>
                        <!-- step 1 div end -->


                       <!-- step 2 div start -->
                        <div>
                            <h5 class="q2">Q.1 Does your teeth ever get sensitive to hot and cold? <span class="sel_span">(Select multiple)</span></h5>
                            <div class="formcheck">
                                <div class="form-check form-check-inline boxchek">
                                    <input class="form-check-input" type="checkbox" id="chk_red">
                                    <label class="form-check-label lebalc" for="chk_red">Hot</label>
                                    
                            
                                </div>
                                <div class="form-check form-check-inline boxchek">
                                    <input class="form-check-input" type="checkbox" id="chk_green">
                                    <label class="form-check-label lebalc" for="chk_green">Cold</label>
                                    
                            
                                </div>
                                <div class="form-check form-check-inline boxchek">
                                <input class="form-check-input" type="checkbox" id="chk_blue">
                                    <label class="form-check-label lebalc" for="chk_blue">Sweet
                                        </label>
                                    
                            
                                </div>
                                <div class="form-check form-check-inline boxchek">
                                    <input class="form-check-input" type="checkbox" id="chk_last">
                                    <label class="form-check-label lebalc" for="chk_last">Sour
                                    </label>
                                
                                
                                </div>

                            </div>
                            <!-- quesiont 1 end -->


                            <h5 class="q2">Q.2 Do you have any of the following oral conditions? <span class="sel_span">(Select multiple)</span>
                            </h5>
                            <div class="formcheck">
                                <div class="form-check form-check-inline boxchek">
                                    <input class="form-check-input" type="checkbox" id="chk_red">
                                    <label class="form-check-label lebalc" for="chk_red">Dental Decay</label>
                            
                            
                                </div>
                                <div class="form-check form-check-inline boxchek">
                                    <input class="form-check-input" type="checkbox" id="chk_green">
                                    <label class="form-check-label lebalc" for="chk_green">Tooth Loss</label>
                            
                            
                                </div>
                                <div class="form-check form-check-inline boxchek">
                                    <input class="form-check-input" type="checkbox" id="chk_blue">
                                    <label class="form-check-label lebalc" for="chk_blue">Bad Breadth
                                    </label>
                            
                            
                                </div>
                                <div class="form-check form-check-inline boxchek">
                                    <input class="form-check-input" type="checkbox" id="chk_last">
                                    <label class="form-check-label lebalc" for="chk_last">Gum Diseases
                                    </label>
                            
                            
                                </div>
                                <div class="form-check form-check-inline boxchek mtop">
                                    <input class="form-check-input" type="checkbox" id="chk_last">
                                    <label class="form-check-label lebalc" for="chk_last">None of the above
                                    </label>
                                
                                
                                </div>
                            
                            </div>
                            <!-- quesiont 2 end -->


                            <h5 class="q2">Q.3 Have you ever had any of the following treatments? <span class="sel_span">(Select multiple)</span>
                            </h5>
                            <div class="formcheck">
                                <div class="form-check form-check-inline boxchek">
                                    <input class="form-check-input" type="checkbox" id="chk_red">
                                    <label class="form-check-label lebalc" for="chk_red">Fillings</label>
                            
                            
                                </div>
                                <div class="form-check form-check-inline boxchek">
                                    <input class="form-check-input" type="checkbox" id="chk_green">
                                    <label class="form-check-label lebalc" for="chk_green">Implant</label>
                            
                            
                                </div>
                                <div class="form-check form-check-inline boxchek">
                                    <input class="form-check-input" type="checkbox" id="chk_blue">
                                    <label class="form-check-label lebalc" for="chk_blue">RCT & Crown
                                    </label>
                            
                            
                                </div>
                                <div class="form-check form-check-inline boxchek">
                                    <input class="form-check-input" type="checkbox" id="chk_last">
                                    <label class="form-check-label lebalc" for="chk_last">Cleaning of Teeth
                                    </label>
                            
                                </div>

                                <div class="form-check form-check-inline boxchek mtop">
                                    <input class="form-check-input" type="checkbox" id="chk_last">
                                    <label class="form-check-label lebalc" for="chk_last">None of the above
                                    </label>
                                
                                </div>
                            
                            </div>
                            <!-- quesiont 3 end -->


                            <h5 class="q2">Q.4 Do you have any of the following medical conditions? <span class="sel_span">(Select multiple)</span>
                            </h5>
                            <div class="formcheck">
                                <div class="form-check form-check-inline boxchek">
                                    <input class="form-check-input" type="checkbox" id="chk_red">
                                    <label class="form-check-label lebalc" for="chk_red">Diabetes</label>
                            
                            
                                </div>
                                <div class="form-check form-check-inline boxchek">
                                    <input class="form-check-input" type="checkbox" id="chk_green">
                                    <label class="form-check-label lebalc" for="chk_green">Heart Disease</label>
                            
                            
                                </div>
                                <div class="form-check form-check-inline boxchek">
                                    <input class="form-check-input" type="checkbox" id="chk_blue">
                                    <label class="form-check-label lebalc" for="chk_blue">Strokes
                                    </label>
                            
                            
                                </div>
                                <div class="form-check form-check-inline boxchek">
                                    <input class="form-check-input" type="checkbox" id="chk_last">
                                    <label class="form-check-label lebalc" for="chk_last">Lung Conditions
                                    </label>
                            
                                </div>
                            
                                <div class="form-check form-check-inline boxchek mtop">
                                    <input class="form-check-input" type="checkbox" id="chk_last">
                                    <label class="form-check-label lebalc" for="chk_last">None of the above
                                    </label>
                            
                                </div>
                            
                            </div>
                            <!-- quesiont 4 end -->

                        </div>
                        <!-- step 2 div end -->

                        <!-- step 3 div start -->
                        <div>
                            <h5 class="q1">Q1. Do you have high frequency sugar intake & acidic drinks ?</h5>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion1" id="rad1" value="a">
                                <label class="form-check-label" for="rad1">
                                    Yes
                                </label>
                            </div>
                        
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion1" id="rad2" value="b">
                                <label class="form-check-label" for="rad2">
                                No
                                </label>
                            </div>
                        
     
                        
                            <div class="form-check form-check-inline activeborder">
                                <input class="form-check-input" type="radio" name="queastion1" id="rad3" value="d" checked>
                                <label class="form-check-label" for="rad3">
                                    Sometimes
                                </label>
                            </div>
                        
                            <!-- q1 end -->
                        
                        
                            <h5 class="q2">Q.2 Do you smoke (social smoking included)?</h5>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion2" id="smok2" value="a">
                                <label class="form-check-label" for="smok1">
                                    Never Smoked
                                </label>
                            </div>
                        
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion2" id="smok2" value="b">
                                <label class="form-check-label" for="smok2">
                                    Smoke Occasionally
                                </label>
                            </div>
                        
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion3" id="smok3" value="c">
                                <label class="form-check-label" for="smok3">
                                    Smoke Regularly
                                </label>
                            </div>
                        
                           
                        
                            <!-- q2 end -->
                        
                        
                            <h5 class="q2">Q.3 Do you chew tobacco?</h5>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion3" id="n1" value="a">
                                <label class="form-check-label" for="n1">
                                    Yes
                                </label>
                            </div>
                        
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion3" id="n2" value="b">
                                <label class="form-check-label" for="n2">
                                    No
                                </label>
                            </div>
                        
                            
                        
                            <!-- q3 end -->
                        
                            <h5 class="q2">Q.4 Do you fear going to the dentist ?</h5>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion4" id="t1" value="a">
                                <label class="form-check-label" for="t1">
                                Yes
                                </label>
                            </div>
                        
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion4" id="t2" value="b">
                                <label class="form-check-label" for="t2">
                                    No
                                </label>
                            </div>
                        
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="queastion4" id="3" value="c">
                                <label class="form-check-label" for="t3">
                                    Sometimes
                                </label>
                            </div>
                        
                           
                        
                            <!-- q4 end -->
                        
                        </div>
                        
                        <!-- step 3 div end -->

                            </form>

                            <div class="row">
                                <div class="col-sm-8">
                                     <p class="for4of4">4 of 4 Questions</p>
                                </div>
                                <div class="col-sm-4 btnrow">
                                     <div class="pre">PRE</div>
                                    <div class="submitbt">NEXT</div>
                                     <div class="submitbt"  (click) = "show()">SUBMIT</div>
                                </div>
                            </div>

                            

                         </div>
                       </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Creates the bootstrap modal where the image will appear -->
        <div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content modalcontent">
                    <div class="modalheader text-center">
                        <img src="assets/img/oralself/teeth.svg" class="teethimg" />
                        <h4 class="modal-title modalhead" id="myModalLabel">Thank you for your responses. Please
                            provide below detail in order to view your result.</h4>
                    </div>
                    <div class="modal-body modalbody">
                        <form>
                            <div class="form-group">
                                <label class="lebc">Name*</label>
                                <input type="text" formControlName="name" class="form-control" placeholder="Enter Name" />
        
                            </div>
                            <div class="form-group">
                                <label class="lebc">Mobile Number*</label>
                                <input type="number" formControlName="number" class="form-control"
                                    placeholder="Enter Mobile Number" />
        
                            </div>
                            <div class="form-group">
                                <label class="lebc">Email id</label>
                                <input type="text" formControlName="email" class="form-control" placeholder="Enter Email id" />
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-12">
                                    <label class="lebc">Gender</label>
                                    <select class="form-control" aria-label="Default select example">
                                        <option selected>Select Gender</option>
                                        <option value="m">Male</option>
                                        <option value="f">Female</option>
        
                                    </select>
        
                                </div>
                                <div class="form-group col-sm-6 col-12">
                                    <label class="lebc">Age</label>
                                    <input type="number" formControlName="agenumber" class="form-control"
                                        placeholder="Enter Age" />
        
                                </div>
                            </div>
                            <div class="buttonsdiv form-group">
                                <button type="button" class="btn btn-dark goback" data-dismiss="modal" (click)="hide()">GO
                                    BACK</button>
                                <button type="submit" class="btn btn-primary viewr" >VIEW RESULT</button>
                            </div>
        
        
                        </form>
                    </div>
        
                </div>
            </div>
        </div>
        <!-- modal colose -->

     

        <section class="section section-lg bg-image-21">
            <div class="container text-center">
                <div class="row justify-content-center">
                    <div class="col-xl-10 d-flex flex-column align-items-center">
                        <h2>Get a Free Consultation</h2>
                        <p class="gc">Let our team handle all your dental healthcare issues.
                            Call now to get a free consultation from our expert advisors on below numbers.</p>

                        <a class="wow  text-xxl font-weight-bold" href="tel:#">
                            <h4> +91 9899799981 <span class="dd">|</span> +91 9899799982</h4>

                        </a>
                        <div class="row">
                            <a class="button button-primary button-shadow button-md button-xxl btn-grad  animate__delay-5s 5s"
                                href="javascript:void(0);">Request a Callback</a>
                            <a class="button button-primary button-shadow button-md button-xxl btn-grad kkall animate__delay-5s 5s"
                                >Book An
                                Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </div>

</div>
<!-- /Page Content -->